/* Variáveis e Configurações Globais */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4a0404;
  --gold: #c6a87c;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

/* Scrollbar temática */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #0d0d0d;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
